header {
    text-align: center;
}
h1 {
    color: blue;
}

.dogs-container {
    text-align: center;
}

.dog-info {
    border: solid;
    padding: 2rem;
    margin: 2rem auto;
    width: 60%;
}

img {
    height: 25%;
    width: 30%;
}